<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

<style>
  .material-symbols-outlined {
    font-variation-settings:
      'FILL' 0,
      'wght' 400,
      'GRAD' 0,
      'opsz' 24
  }
</style>

<div class="admin">
  <div class="sidenav">
    <mat-drawer-container class="admin-forms-nav" autosize>
      <mat-drawer #drawer class="form-sidenav" mode="side">
        <h1>Forms</h1>
        <mat-selection-list [multiple]="false">
          <mat-list-option>Form #1</mat-list-option>
          <mat-list-option>Form #2</mat-list-option>
          <mat-list-option>Form #3</mat-list-option>
          <mat-list-option>Form #4</mat-list-option>
        </mat-selection-list>
      </mat-drawer>
      <div class="sidenav-content">
        <button mat-icon-button class="nav-button" (click)="opened = !opened; drawer.toggle(); iconChange()">
          <span class="material-symbols-outlined" id="nav-button-icon">chevron_right</span>
        </button>
      </div>
    </mat-drawer-container>
  </div>
  <div class="form-fields">
  </div>
</div>


