<app-header></app-header>
<div class="gradient-yellow">
  <div class="container white">
    <mat-card >
      <div class="text-center">
        <h3 class="text-center">Certification Approval and Reimbursement Request Form</h3>
      </div>
      <mat-card-content>
        <div class="container disply-flex " id="pdf">
          <div class="row ">
            <p class="text-center">
              Steps to receive approval for reimbursement for future certificate
              or training:<br />
              1. Complete this form BEFORE you take your Certification or
              training.<br />
              2. Receive approval from supervisor or leadership<br />
              3. Submit passing exam document and receipt to hr&#64;risenone.com<br />
              Please note, reimbursement is only for passing exams, not for exam
              attempts Certificates already completed may not be approved. Please
              plan ahead and submit form BEFORE certification or training is taken
            </p>
          </div>
            <div class="row pt-3">
              <div class="col">
                <mat-form-field>
                  <mat-label>Previous Request Form</mat-label>
                  <mat-select (valueChange)="getSelectedForm($event)">
                    <mat-option></mat-option>
                    @for(form of forms; track form.id){
                    <mat-option [value]="form.id">{{form.certName}}</mat-option>
                    }
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col">
                <button mat-fab extended (click)="createNewForm()">Add New</button>
              </div>
            </div>
            <form (ngSubmit)="submitForm()" [formGroup]="reimbursementForm">
            <div class="row">
              <div class="col">
                <mat-form-field>
                  <mat-label for="employeeName">Employee Name</mat-label>
                  <input [ngModel]="selectedForm.employeeName" type="text" matInput id="employeeName" formControlName="employeeName"  />
                  @if(reimbursementForm.get('employeeName')?.getError('required')) {
                    <mat-error>Name is required </mat-error>
                  }
                  @if(reimbursementForm.get('employeeName')?.getError('minlength')) {
                    <mat-error>Name needs to be 5 character long</mat-error>
                  }
                  @if(reimbursementForm.get('employeeName')?.getError('forbiddenName')) {
                    <mat-error>No special characters </mat-error>
                  }
                </mat-form-field>
              </div>
              <div class="col">
                <mat-form-field>
                  <mat-label>Name of Certification</mat-label>
                  <input [ngModel]="selectedForm.certName" matInput formControlName="certName">
                  @if(reimbursementForm.get('certName')?.getError('required')) {
                    <mat-error>Certification name is required </mat-error>
                  }
                  @if(reimbursementForm.get('certName')?.getError('minlength')) {
                    <mat-error>Certification name must be 3 character long</mat-error>
                  }
                </mat-form-field>
                
              </div>
            </div>
            <div class="row my-2 py-2">
              <mat-checkbox formControlName="ROCRequested" [ngModel]="selectedForm.ROCRequested"
                >ROC has requested I complete this training</mat-checkbox
              >
              <mat-checkbox [ngModel]="selectedForm.personalDevelopment" formControlName="personalDevelopment">Personal Development</mat-checkbox>
            </div>
                <div class="row">
                    <mat-form-field>
                      <mat-label>Reason for Certification</mat-label>
                      <textarea [ngModel]="selectedForm.reason" matInput formControlName="reason"></textarea>
                      @if(reimbursementForm.get('reason')?.getError('required')) {
                        <mat-error>Reason is required </mat-error>
                      }
                    </mat-form-field>   
                  </div>
            <div class="row">
              <div class="col">
                <mat-form-field>
                  <mat-label>Estimated Time of Completion</mat-label>
                  <textarea [ngModel]="selectedForm.estimatedCompletionTime" matInput formControlName="estimatedCompletionTime"></textarea>
                  @if(reimbursementForm.get('estimatedCompletionTime')?.getError('required')) {
                    <mat-error>Estimation of time is required </mat-error>
                  }
                </mat-form-field>
              </div>
              <div class="col">
                <mat-form-field>
                  <mat-label>Estimation Certification/Training Date</mat-label>
                  <input [min]="todayDate" [ngModel]="selectedForm.estimatedCompletionDate" matInput [matDatepicker]="estimatedCompletion" formControlName="estimatedCompletionDate" />
                  <mat-hint>MM/DD/YYYY</mat-hint>
                  <mat-datepicker-toggle
                    matIconSuffix
                    [for]="estimatedCompletion"
                  ></mat-datepicker-toggle>
                  <mat-datepicker #estimatedCompletion></mat-datepicker>
                  @if(reimbursementForm.get('estimatedCompletionDate')?.getError('required')) {
                    <mat-error>Training date required </mat-error>
                  }
                  @if(reimbursementForm.get('estimatedCompletionDate')?.getError('matDatepickerMin')) {
                    <mat-error>Training date has to be in future </mat-error>
                  }
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <mat-form-field>
                  <mat-label>Certification Expiration</mat-label>
                  <input [min]="todayDate" [ngModel]="selectedForm.certExpirationDate" matInput [matDatepicker]="certificationExpiration" formControlName="certExpirationDate" />
                  <mat-hint>MM/DD/YYYY</mat-hint>
                  <mat-datepicker-toggle
                    matIconSuffix
                    [for]="certificationExpiration"
                  ></mat-datepicker-toggle>
                  <mat-datepicker #certificationExpiration></mat-datepicker>
                  @if(reimbursementForm.get('certExpirationDate')?.getError('required')) {
                    <mat-error>Expiration date required </mat-error>
                  }
                  @if(reimbursementForm.get('certExpirationDate')?.getError('matDatepickerMin')) {
                    <mat-error>Expiration date has to be in future </mat-error>
                  }
                </mat-form-field>
              </div>
              <div class="col">
                <mat-form-field>
                  <mat-label>Certification Cost</mat-label>
                  <input [ngModel]="selectedForm.certCost" matInput formControlName="certCost" />
                  @if(reimbursementForm.get('certCost')?.getError('required')) {
                    <mat-error>Certification Cost is required</mat-error>
                  }
                  @if(reimbursementForm.get('certCost')?.getError('min')) {
                    <mat-error>Minimum value is zero</mat-error>
                  }
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <mat-form-field>
                  <mat-label>Name of Previous Certification/Training</mat-label>
                  <input [ngModel]="selectedForm.nameOfPreviousCert" matInput formControlName="nameOfPreviousCert"/>
                </mat-form-field>
              </div>
              <div class="col">
                <mat-form-field>
                  <mat-label>Date of Previous Certification/Training</mat-label>
                  <input [max]="todayDate" [ngModel]="selectedForm.dateOfPreviousCert"  matInput [matDatepicker]="previousCertificateDate" formControlName="dateOfPreviousCert" />
                  <mat-hint>MM/DD/YYYY</mat-hint>
                  <mat-datepicker-toggle
                    matIconSuffix
                    [for]="previousCertificateDate"
                  ></mat-datepicker-toggle>
                  <mat-datepicker #previousCertificateDate></mat-datepicker>
                  @if(reimbursementForm.get('dateOfPreviousCert')?.getError('matDatepickerMax')) {
                    <mat-error>Previous training date has to be in the past </mat-error>
                  }
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <mat-form-field class="signOff">
                  <mat-label>Employee Sign Off Date</mat-label>
                  <input [min]="todayDate" [max]="todayDate" [ngModel]="selectedForm.employeeSignOffDate" matInput [matDatepicker]="employeeSignOff" formControlName="employeeSignOffDate"/>
                  <mat-hint>MM/DD/YYYY</mat-hint>
                  <mat-datepicker-toggle
                    matIconSuffix
                    [for]="employeeSignOff"
                  ></mat-datepicker-toggle>
                  <mat-datepicker #employeeSignOff></mat-datepicker>
                </mat-form-field>
              </div>
              <div class="col">
                <mat-form-field class="signOff">
                  <mat-label>Lead Sign Off Date</mat-label>
                  <input [ngModel]="selectedForm.leadSignOffDate" matInput [matDatepicker]="leadSignOff" formControlName="leadSignOffDate" />
                  <mat-hint>MM/DD/YYYY</mat-hint>
                  <mat-datepicker-toggle
                    matIconSuffix
                    [for]="leadSignOff"
                  ></mat-datepicker-toggle>
                  <mat-datepicker #leadSignOff></mat-datepicker>
                </mat-form-field>
              </div>
              <div class="col">
                <mat-form-field class="signOff">
                  <mat-label>Executive Sign Off Date</mat-label>
                  <input [ngModel]="selectedForm.executiveSignOffDate" matInput [matDatepicker]="executiveSignOff" formControlName="executiveSignOffDate" />
                  <mat-hint>MM/DD/YYYY</mat-hint>
                  <mat-datepicker-toggle
                    matIconSuffix
                    [for]="executiveSignOff"
                  ></mat-datepicker-toggle>
                  <mat-datepicker #executiveSignOff></mat-datepicker>
                </mat-form-field>
              </div>
            </div>
            <div class="container">
              <div class="row mt-5">
                <div class="col-md-4">
                  <div class="mb-3">
                    <label for="formFile" class="form-label">Upload file example</label>
                    <input (change)="this.onFileChange($event)" class="form-control" type="file" id="formFile">
                  </div>
                </div>
              </div>
            </div>   
            <div class="row">
                <button mat-fab extended class="white ms-auto" (click)="exportToPDF()">Export to PDF</button>
                @if(reimbursementForm.errors || reimbursementForm.invalid){
                  <button mat-fab extended  disabled class="golden-yellow" class="pl-3" type="submit" class="btn btn-primary">Save</button>
                } @else {
                  <button mat-fab extended  class="golden-yellow" class="pl-3" type="submit" class="btn btn-primary">Save</button>
                }
            </div>
  
          </form>

        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
